<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOOKS.JS</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div id="app">
        <!-- Шапка -->
        <nav class="navbar navbar-expand-lg" :class="nightTheme ? 'navbar-dark bg-dark' : 'navbar-light bg-light'">
            <div class="container">
                <a class="navbar-brand" href="#" @click="openPage('index')">HOOKS.js</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#"
                                @click.prevent="openPage('index')">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" @click.prevent="openPage('configurator')">Конфигуратор</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Предыдущие версии
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item"
                                        href="https://github.com/SergioStrangeS/hooks.ds">hooks.ds</a></li>
                                <li><a class="dropdown-item"
                                        href="https://github.com/SergioStrangeS/DiscordWebhooks">DiscordWebhooks</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="form-check form-switch me-auto mb-2 mb-lg-0">
                        <input class="form-check-input" type="checkbox" id="flexSwitchTheme" checked
                            v-model="nightTheme">
                    </div>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Ссылка на kinopoisk.ru"
                            aria-label="Search" v-model="url">
                        <button class="btn btn-success" type="submit" @click.prevent="getFilm()">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- / Шапка -->

        <!-- Главная страница -->
        <section v-if="page === 'index'">

            <div class="container" v-if="!films">
                <div class="row p-5">
                    <h1>Coming soon..</h1>
                </div>
            </div>

            <div class="container p-5" v-if="films">
                <div class="row g-0 bg-light position-relative">
                    <div class="col-md-4 mb-md-0 p-md-4">
                        <img :src="films.posterUrl" class="card-img-top">
                    </div>
                    <div class="col-md-8 p-4 ps-md-0">
                        <h5 class="mt-0">{{ films.nameRu }}</h5>
                        <p>{{ films.description }}</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Год</th>
                                    <th scope="col">Длительность</th>
                                    <th scope="col">Жанр</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ films.year }}</td>
                                    <td>{{ films.filmLength }} ч</td>
                                    <td><span v-for="genre in films.genres">{{ genre['genre'] }} </span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row g-0 bg-light position-relative">
                            <div class="col-md-12 p-4 ps-md-0">
                                <label for="exampleFormControlTextarea1" class="form-label">Сообщение для
                                    отправки</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="message"></textarea>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3" @click.prevent="sendFilm()">Отправить
                                    в Discord</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Главная страница -->

        <!-- Конфигуратор -->
        <section v-if="page === 'configurator'">
            <div class="container">
                <div class="row p-5">
                    <div class="mb-3">
                        <label class="form-label">Kinopoisk Api Unofficial</label>
                        <input :type="forms.showKinopoiskApi ? 'text' : 'password'" v-model="tokens.Kinopoisk"
                            class="form-control" aria-describedby="ApiHelp">
                        <div id="ApiHelp" class="form-text">Неофициальное API для доступа к актуальной информации
                            кинопоиска.</div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="KinopoiskApi"
                                v-model="forms.showKinopoiskApi">
                            <label class="form-check-label" for="KinopoiskApi">
                                Показать токен
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Discord Server Webhooks</label>
                        <input :type="forms.showDiscord ? 'text' : 'password'" v-model="tokens.Discord"
                            class="form-control">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="Discord"
                                v-model="forms.showDiscord">
                            <label class="form-check-label" for="Discord">
                                Показать hook
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="saveConfig()">Сохранить</button>
                </div>
            </div>
        </section>
        <!-- / Конфигуратор -->
    </div>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/css/bootstrap.min.css"></script>
</body>

</html>